/*******************************************
 *******************************************
 *
 *
 *
 * This file contains the styling for the actual theme, this
 * is the file you need to edit to change the look of the
 * theme.
 *
 *
 *
 *******************************************
 *******************************************
 *
 * == INDEX PAGE CSS
 *
 * 00. common & reset css
 * 01. header & nav
 * 02. hero-area, landing, & manifesto
 * 03. youtube
 * 04. thirst most wanted
 * 05. instagram
 * 06. spotify, podcast, & counter
 * 07. footer
 * 08. extra & css effects */
/*****************************
 *   00. common & reset css
 *****************************
 *
 */
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body, main, button {
    width: 100%;
    font-family: 'Open Sans', sans-serif;
}


ul, a {
    list-style: none;
    text-decoration: none;
}


h1, h2 {
    font-weight: 900;
}

h4 {
    font-size: .8rem;
}

section {
    padding: 0;
}

.green-text {
    color:#228C37;
}

.fa-spotify {
    font-size: 1.5rem;
    padding: 10px;
    border-radius: 50%;
    color: white;
    background-color: #228C37;
}
.fab {
    font-size: 0.8rem;
    padding: 10px;
    border-radius: 50%;
    color: #228C37;
    background-color: white;
}
/*****************************
 *   01. header & nav
 *****************************
 *
 */

header {
    background-color:#228C37;
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    height: 5rem;
}

 /* Mobile View */
 .hamburger {
    position: absolute;
    z-index: 2;
    background: none;
    border: none;
}

 .line {
    width: 15px;
    height: 3px;
    background: black;
    margin: 3px;
}

nav {
    display: flex;
    align-items: center;
    width: 100%;
}

#nav-links {
    display: none;
    flex-direction: column;
    position: fixed;
    margin-top: 80px;
    height: 0;
    width: 100%;
}

.nav-links-text {
    background-color:#228C37;
    padding: 10px;
    border-bottom: solid 2px white;
}

.nav-links-social {
    display: flex;
    flex-direction: row;
    background-color:#228C37;
    padding: 10px;
    border-bottom: solid 2px white;
}

.nav-item {
    padding: 0 2%;
}

.nav-logo-pos {
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: start;
    padding: 0 9rem;
}

#nav-logo {
    width: 80px;
}

 /* Tablet View */
 @media (min-width:769px){
    .hamburger {
      display: none;
    }

    nav {
        height: 50px;
    }

    #nav-links{
        margin: 0;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        padding: 0 80px;
        position: fixed;
        width: 100%;
        height: auto;
        z-index: 10;
    }

    .nav-links-text {
        width: inherit;
        width: 40%;
        padding: 0 15% 0 0%;
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: none;
        background: transparent;
    }

    .nav-links-social {
        padding: 0px 0 0 10%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        border-bottom: none
    }
    .nav-item {
        padding: 0 2%;
        border-bottom:none ;
    }
 }

  /* Desktop View */
  @media (min-width:1200px){
    .nav-links-social {
        padding: 0px 0 0 30%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        border-bottom: none
    }
  }
/*****************************
 *   02. hero-area, landing, & manifesto
 *****************************
 *
 */
 /* Mobile View */
 #hero{
    background-color: black;
 }

.hero-image {
   padding-top: 80px;
   background-position: bottom;
   background-size: cover;
   width: 100%;
}

#manifesto {
    background-color: black;
    color: white;
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-style: italic;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
}

.strike-through {
    text-decoration: line-through rgb(169, 248, 41) 10px;
}

.manifesto-h1 {
    padding-top: 20px;
    font-size: 3.5rem;
    text-align: center;
}

.manifesto-p {
    font-size: 1.2rem;
}
 /* Tablet/Landscape View */
@media (min-width: 500px){
    #manifesto {
        padding: 0 5%;
    }
    .manifesto-h1 {
        padding-top: 50px;
        font-size: 4.3rem;
        text-align: center;
    }

    .manifesto-p {
        font-size: 1.4rem;
    }
  }
  @media (min-width:1100px){
    #manifesto {
        padding: 0 20%;
    }
    .manifesto-h1 {
        font-size: 4.8rem;
        text-align: center;
        padding-top: 50px;
        padding-left: 10%;
        padding-right: 10%;
    }

    .manifesto-p {
        font-size: 1.6rem;
        padding-left: 15%;
        padding-right: 15%;
    }
}
 /* Desktop View */
 @media (min-width:1400px){
    #manifesto {
        padding: 0 20%;
    }
    .manifesto-h1 {
        font-size: 5.3rem;
        text-align: center;
        padding-top: 100px;
        padding-left: 22%;
        padding-right: 22%;
    }

    .manifesto-p {
        font-size: 2.2rem;
        padding-left: 15%;
        padding-right: 15%;
    }
}

 /*****************************
 *   03. youtube
 *****************************
 *
 */
#youtube {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.video-container {

    /* padding: 0 25%; */

}

.vid-fig-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 25px;
    width: 100%;
}

figure h3 {
    font-size: 1.8rem;
}

.vid-caption {
    font-size: 1.1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-right: 10%;
    font-weight: 100;
    font-style: normal;
}

.youtube-video {
    width: 100%;
    height: 350px;
}


@media (min-width:1300px){
    #youtube {
        padding: 0 180px;
    }

    .video-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 50px;
    }

    figure h3 {
        font-size: 1.8rem;
    }

    .vid-caption {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 1.1rem;
        padding-right: 10%;
        font-weight: 100;
        font-style: normal;
    }

    .youtube-video {
        width: 750px;
        height: 350px;
    }

}


 /*****************************
 *   04. thirst most wanted
 *****************************
 *
 */

 #tmw {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }

#tmw-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#228C37;
    width: 100%;
    padding: 25px;
}

.tmw-h-btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.tmw-h1 {
    color: white;
    width: 60%;
    text-align: center;
    font-size: 3rem;
    text-transform: uppercase;
}

.buy-now {
    padding: 10px 25px;
    width: 50%;
    background-color:#228C37;
    border: solid white 2px;
    color: white;
    text-transform: uppercase;
}



@media (min-width:1300px){
    #tmw-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;
    }

    .tmw-h-btn-container {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .tmw-h1 {
        color: white;
        width: 50%;
        text-align: center;
        font-size: 5rem;
        text-transform: uppercase;
    }

    .buy-now {
        padding:10px 25px;
        width: 15%;
        background-color:#228C37;
        border: solid white 2px;
        color: white;
        text-transform: uppercase;
    }
}
 /*****************************
 *   05. instagram
 *****************************
 *
 */

 #instagram-slideshow {
     background: black;
     color: white;
 }




 /*****************************
 *   06. spotify, podcast, & counter
 *****************************
 *
 */

#spotify-podcast-counter {
    background: url('./assetsAndImages//marjanblan-794QUz5-cso-unsplash.jpg');
    background-size: cover;
}

#spotify-podcast-counter p {
    font-size: .7rem;
    text-align: center;
}


.sprite-lockup {
    width: 100%;
}

.spotify-frame {
    width: 100%;
}

.green-button {
    background-color: #228C37;
    font-size: 1rem;
    color:white;
    padding: 5px 0;
    margin: 5px 0;
    width: 100%;
}

#contact-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    color: #228C37;
    font-size: 3rem;
    border: 10px solid white;
    padding: 25px;
    text-transform: uppercase;
}

#site-counter h2 {
    text-decoration: underline;
}

#count {
    font-size: 10rem;
    background: white;
    margin: 0 150px;
    border: 3px solid #228C37;;
}


@media (min-width:900px){
    #spotify-podcast-counter {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }

    #sprite-lockup-article {
        width: 80%;
    }

    #sprite-lockup-article figure{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    #sprite-lockup-article p {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 20px 25%;
        font-size: 1rem;
        padding-bottom: 50px;
    }

    #spotify-media-container {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    #spotify {
        display: flex;
        padding: 50px;
        flex-direction: column;
    }

    #podcast {
        padding: 50px;
    }
    .sprite-lockup {
        width: 50%;
    }

    .spotify-frame {
        width: 100%;
        height: 400px;
    }
    .green-button {
        width: 100%;
    }

}



 /*****************************
 *   07. footer
 *****************************
 *
 */

#main-footer {
    color:white;
    background-color: #228C37;
    font-size: 18px;
    text-transform: uppercase;
    padding: 5px;
}

.green-footer {
   background-color:#228C37;
}

 .section-footer-img {
    width: 100%;
}

.footer-social-links {
    padding-top: 20px;
    display: flex;
}
.footer-ul {
    padding-top: 20px;
    padding: 5px;
}

.foot-item {
    padding: 5px;
}

.footer-h4 {
    font-size: 18px;
}
/* Desktop View */
@media (min-width:900px){
    #main-footer {
       display: flex;
       flex-direction: column;
       justify-content: center;
    }
    .footer-head {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding-top: 100px;
    }
    .footer-footer {
        display: flex;
        flex-direction: column;
        padding: 85px;
    }
    .copy-right-p {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-bottom: 30px;
    }
    .footer-footer-ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .footer-img {
        width: 200px;
    }
}

 /*****************************
 *   08. extra & css effects
 *****************************
 *
 */
 .hover, .hover:visited {
    color: white;
}

.hover:hover {
    color:black;
}

.hover2:hover {
    background-color:black;
    color: white;
}

